body { 
    background-image: url(https://www.wallpaperup.com/uploads/wallpapers/2014/01/21/234414/e688272d4a4c18408e0549a7f4d7183f.jpg);
    background-size: 100%;
    background-attachment: fixed;
    color: white; 
    
}

.character-card {
  text-align: center;
  border: grey solid 1px;
  border-radius: 5px; 
  padding: 1rem;
  width: 17rem;
  height: auto;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 3px 4px gray;
  background-color: rgb(34, 33, 33);
  background-image: url('https://images.unsplash.com/photo-1506318137071-a8e063b4bec0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1070&q=80');
}


.character-name {
  font-size: 25px; 
  color: whitesmoke;
  -webkit-text-stroke: .5px blue;
}

.home-planet {
  font-size: 20px;
  -webkit-text-stroke: .25px blue;
}

.species-p {
  font-size: 20px;
}

.character-avatar {
    justify-self: center;
    height: 15rem;
    width: 15rem;
    border: 1px solid whitesmoke;
    border-radius: 5px;
  }

  .character-films-ul {
    font-size: 23px; 
    color: whitesmoke;
    text-align: left;
    list-style: none;
  }

  .character-films-li {
    font-size: 20px; 
    color: whitesmoke;
    text-align: left;
  }

  button {
    position: relative;
    background-color: gray;
    border: none;
    border-radius: 5px;
    height: 3rem;
    width: max-content;
    color: whitesmoke;
    font-size: 18px;
    justify-self: center;
  }

  .delete-btn {
      margin-top: 1rem;
  }
  
  button:hover {
    background-color: whitesmoke;
    border: gray solid 1px;
    color: gray;
  }
  
  .container {
    padding: 1rem;
    width: stretch;
    height: auto;
    display: block;
    background: gray;
    opacity: .8;
  }
  
  .add-character-form {
    width: 80%
  }
  
  .submit {
    position: relative;
    background-color: gray;
    border-radius: 5px;
    height: 2rem;
    width: max-content;
    color: whitesmoke;
    font-size: 18px;
    justify-self: center;
    font-family: monospace;
    margin: 3px;
  }
  
  .submit:hover {
    background-color: whitesmoke;
    border: gray solid 1px;
    color: gray;
  }
  
  .input-text {
    border-radius: 5px;
    height: 2rem;
    width: 60%;
    font-size: 18px;
    font-family: 'Signika', sans-serif;
    background-color: rgb(170, 150, 111);
    margin: 3px;
    color: white;
  }

.character-button.delete {
  background-color: rgb(104, 5, 5);
  border-radius: 4px;
  margin-top: 6px;
  display: flex; 
  align-items: center;
  justify-content: center;
}

.character-button.edit {
  background-color: rgb(6, 6, 97);
  border-radius: 4px;
  display: flex; 
  align-items: center;
  justify-content: center;
}

.character-button:hover {
  background-color: black;
  text-decoration: underline;
}

/*///////////////////////////*/

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: black;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/e46a5b64931151.5ae243a38ada6.jpg');
  background-size: cover;
  display: block;
  text-align: center;
}

.modal-form {
  display: inline-block;
  margin: auto;
}

.submit-button {
  background-color: gray;
  border: none;
  border-radius: 5px;
  height: 3rem;
  width: max-content;
  color: whitesmoke;
  font-size: 18px;
}

.submit-button:hover {
  background-color: whitesmoke;
  border: gray solid 1px;
  color: gray;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
  
.planet-card {
  border: grey solid 1px;
  border-radius: 5px; 
  padding: 1rem;
  width: 50rem;
  height: auto;
  display: block;
  margin: 1rem 2rem;
  box-shadow: 3px 4px gray;
  background-color: rgb(34, 33, 33);
  background-image: url('https://images.unsplash.com/photo-1506318137071-a8e063b4bec0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1070&q=80');
}

.planet-name {
  font-size: 35px; 
  color: whitesmoke;
  -webkit-text-stroke: .5px blue;
  text-align: center;
 }

.planet-image {
  width: 20rem;
  height: 20rem;
  float: left;
  margin-bottom: 3rem;
  border-radius: 5px;
}

.planet-population {
  font-size: 20px; 
  color: whitesmoke;
  text-align: center;
}

.planet-characters-ul {
  font-size: 23px; 
  color: whitesmoke;
  text-align: center;
  list-style: none;
}

.planet-characters-li {
  font-size: 20px; 
  color: whitesmoke;
  text-align: center;
}

.planet-climate {
  font-size: 20px; 
  color: whitesmoke;
  text-align: center;
}

.env-image { 
  width: 50rem;
  height: 22rem;
  display: block;
  text-align: center;
  border-radius: 5px; 
}

.film-card {
  text-align: center;
  border: grey solid 1px;
  border-radius: 5px; 
  padding: 1rem;
  width: 19rem;
  height: auto;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 3px 4px gray;
  background-color: rgb(34, 33, 33);
  background-image: url('https://images.unsplash.com/photo-1506318137071-a8e063b4bec0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1070&q=80');
}


.film-title {
  font-size: 25px; 
  color: whitesmoke;
  -webkit-text-stroke: .5px blue;
}

.release-date {
  font-size: 20px;
  -webkit-text-stroke: .25px blue;
}

.director {
  font-size: 20px;
}

.film-poster {
    justify-self: center;
    height: 25rem;
    width: 18rem;
    border: 1px solid whitesmoke;
    border-radius: 5px;
  }

  .film-characters-ul {
    font-size: 23px; 
    color: whitesmoke;
    text-align: left;
    list-style: none;
  }

  .film-characters-li {
    font-size: 20px; 
    color: whitesmoke;
    text-align: left;
  }